/* .animTrans {
    animation-name: translateBottom;
    animation-duration: 2 s;
}

@keyframes translateBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
eaaad931 */
